*.o
*.o.*
.*
*.tar*
a.out
obj_dir/
*/obj_dir/
*/*/obj_dir/
**/obj_dir*/
*.vcd
*.fst
*.fsdb
*.log
*.orig
*.part
test/*/out/
test/*/out_*/
test/*/tiles/
**/out/
**/out_*/
**/tiles/
test/*/__pycache__/
**/__pycache__/
